@font-face {
    font-family: 'title';
    src: url('./fonts/frederickathegreat-regular-webfont.woff2') format('woff2'),
         url('./fonts/frederickathegreat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#image-holder a {
    color: white;
}

a:focus, a:hover {
    text-decoration: none;
}

#page-body {
    display: flex;

}

#form-banner {
    height: 100vh;
    width: auto;   
}

#image-holder {
    height: 100vh;
    position: relative;
    width: fit-content;
}

#image-holder p {
    position: absolute;
    bottom: 0px;
    color: white;
    width: fit-content;
    font-size: calc(10px + 0.5vw); 
    /* set font size in rem later */

    left: 50%;
    transform: translate(-50%,-50%);
}

#brand-card {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;

    font-family: 'title';
    font-size: calc(10px + 4vh);

    justify-content: center;
    align-content: center;
    gap: 1rem;
}

#brand-card > div {
    align-self: center;
}

:user-invalid {
    box-shadow: 0 0 3px red;
}


